* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #0055a2;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

#recent-news {
    list-style-type: none; /* 黒点を消す */
    padding: 0;            /* 左の余白を消す */
}

#name {
    list-style-type: none; /* 黒点を消す */
    padding: 0;            /* 左の余白を消す */
}

#edu {
    list-style-type: none; /* 黒点を消す */
    padding: 0;            /* 左の余白を消す */
}

#publication {
    list-style-type: none; /* 黒点を消す */
    padding: 0;            /* 左の余白を消す */
}

#lecture {
    list-style-type: none; /* 黒点を消す */
    padding: 0;            /* 左の余白を消す */
}


h1, h2 {
    color: #0055a2;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

